*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:auto;
    padding: 20px;
    background-color: antiquewhite;
    font-size: 25px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.345);

}
.menu a{
    text-decoration: none;
    color: rgb(82, 32, 131);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 30px;
}
a:hover{
    border-right: 3px solid rgb(82, 32, 131);
    border-bottom: 3px solid rgb(82, 32, 131);
    border-radius: 10px;
    transition: 0.2s;
}
.logo{
    color: rgb(82, 32, 131);
    font-family: cursive;
    font-weight: 900;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
}
.create{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgb(82, 32, 131);
}
#task-create, #achievement{
    margin-top: 30px;
    margin-left: 30%;
    justify-content: center;
    display: inline-block; 
    padding: 15px;
    border:3px solid antiquewhite;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.373);
    border-radius: 20px;
}
input{
    font-size: large;
}
#add{
    border-radius: 20px;
    background-color: antiquewhite;
    border: 5px solid antiquewhite;
    margin-left: 30px;
    transition: 0.2s;
    padding: 15px;
    font-size: large;
    color: rgb(82, 32, 131);
}
#add:hover{
    border: 5px solid antiquewhite;
    background-color: transparent;
    color: antiquewhite;
    cursor: pointer;
}
.tasks, .achieve{
    color:rgb(82, 32, 131);
    font-size: 30px;
    margin-top: 40px;
    margin-left: 25%;
    margin-bottom: 30px;
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
    border-radius: 20px;
}
.priority{
    display: inline-flex;
    width: 100%;
    justify-content:center;
    align-items: center;
}
.imp, .urgent{
    color:rgb(82, 32, 131);
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 800px;
    height: 400px;
    flex-grow: 1;
    margin: 0px 200px;
}
h3{
    padding: 20px;
    position: relative;
    left: 10%;
}
ul li{
    list-style: none;
    padding: 10px;
    font-size: 25px;
    color:rgb(82, 32, 131);
    user-select: none;
    cursor: pointer;  
    position: relative;
    padding-left: 25%;
    margin-right: 40px;
}
ul li:hover{
    width: auto;
    height: auto;
    /* background-color: rgba(82, 32, 131, 0.234); */
    border-radius: 10px;
    border-bottom: 2px solid rgb(82, 32, 131);
    /* border: 2px solid transparent; */
    
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    top: 12px;
    left: 8px;
}
#list-container li::before{
    background-image: url(unchecked.png);
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
}
#list-container li.checked{
    text-decoration: line-through;
    color: black;
}
#list-container li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: rgb(82, 32, 131);
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background-color: rgba(82, 32, 131, 0.234);
    border-radius: 50px;
}
